* {
    padding: 0;
    margin-left: 0cm;
    margin-bottom: 0cm;
    box-sizing: border-box;
}

html {
    font-size: 10px;
};

#newLoan {
    justify-content: center;
    background-color: pink;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0.5cm;
    background-color: rgb(236, 230, 231);
}


a {
    color: rgb(121, 180, 248);
}












