* {
    padding: 0;
    margin-left: 0cm;
    margin-bottom: 0cm;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    /* background-color: #dad8db; */
}

body {
	font-family: 'Poppins', sans-serif;
}

td.number {
    text-align: right;
}

html {
    font-size: 10px;
};

div.links{
    flex-direction: row;
}

.welcome {
    position: absolute;
	width: 500px;
	height: 300px;
	margin: 10% -10%;
    font-family: 'Poppins', sans-serif;
   
}

.welcome h1 {
    justify-content: center;
	color: rgb(15, 15, 15);
	text-transform: uppercase;
	font-size: 60px
}

.welcome a {
    border: 1px solid #e6ccf0;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: rgb(8, 8, 8);
    font-family: 'Poppins', sans-serif
}

nav ul li a {
    color: rgb(13, 13, 14);
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
    justify-content: right;
}

nav ul li a:hover {
	background: #fff;
	color: #333;
}

nav a {
    color: rgb(31, 32, 34);
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
    justify-content: right;
}

#newLoan {
    justify-content: center;
}











