<div class="searchBox">
  <input type="text" placeholder="Name" ng-model="searchName" />
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-search"
    viewBox="0 0 16 16"
  >
    <path
      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
    />
  </svg>
</div>
<div class="loansPage">
  <h2>Loans</h2>
  <hr />
  <table class="table table-stripe">
    <thead>
      <tr>
        <!-- <th>ID</th> -->
        <th>No.</th>
        <th>Customer</th>
        <th>Loan Amount</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="emp in loanResult | filter: searchName">
        <!-- <td>{{ emp.id }}</td> -->
        <td>{{$index + 1}}</td>
        <td>{{ emp.customer.lastName}}, {{ emp.customer.firstName }}</td>
        <td class="number">{{ emp.loanAmount | number }}</td>
        <td class="number">{{ emp.balance | number }}</td>
        <td>
          <a href="#/paynow" ng-submit="submit">
            <button class="btn btn-primary" ng-click="payLoan(emp)">
              View Details
            </button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<a href back-button>Back</a>
