<h2>Pay Loan</h2>
<hr />
<div class="name">
  <strong>{{ loan.customer.lastName }}, {{ loan.customer.firstName }}</strong>
</div>
<div>Loan amount: {{ loan.loanAmount | number}}</div>
<br ng-hide="transactionsRecords.length <= 0" />
<table class="table table-stripe" ng-hide="transactionsRecords.length <= 0">
  <thead>
    <tr>
      <th>Amount Paid</th>
      <th>Transaction Date</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="emp in transactionsRecords">
      <td class="number">{{ emp.amountPaid | number }}</td>
      <td class="number">{{ emp.transactionDate | date: 'dd/MM/yyyy' }}</td>
    </tr>
  </tbody>
</table>
<br />
<div ng-show="totalAmountPaid < loan.loanAmount">
  Remaining Balance: {{ loan.loanAmount - totalAmountPaid | number }}
  <hr />
  <form>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default"
        >Amount</span
      >
      <input
        type="number"
        ng-model="amountPaid"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default"
      />
    </div>
    <br />
    <button class="btn btn-primary" ng-click="payLoan()" type="submit">
      Pay
    </button>
  </form>
</div>
<br />
<div
  class="alert alert-danger alert-dismissible"
  role="alert"
  ng-show="amountPaid > (loan.loanAmount - totalAmountPaid)"
>
  Payment is greater than the remaining balance.
</div>
<a href back-button>Back</a>
