<h2>Pay Loans</h2>

<form>
  <!-- <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default"
      >Customer ID</span
    >
    <input
      type="text"
      ng-model="customerID "
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Loan ID</span>
    <input
      type="text"
      ng-model="loanID"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div> -->
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Amount</span>
    <input
      type="text"
      ng-model="amountPaid"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <!-- <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Date</span>
    <input
      type="text"
      ng-model="transactionDate"
      class="form-control"
      size="22.5cm"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div> -->
  <br />
  <button class="btn btn-primary" ng-click="payLoan()" type="submit">
    Pay
  </button>
</form>
