<h2>Confirm Loan</h2>

<form>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default"
      >Customer ID</span
    >
    <input
      type="text"
      ng-model="customerId"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <!-- <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default"
      >First Name</span
    >
    <input
      type="text"
      ng-model="firstName"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div> -->

  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default"
      >Loan Amount</span
    >
    <input
      type="text"
      ng-model="loanAmount"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
</div>

<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default"
    >Balance</span>
    <input
    type="text"
    ng-model="balance"
    class="form-control"
    aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-default"/>
</div>

    <br />
    <label for="monthsToPay" class="form-label">Months To Pay</label>
    <select
      ng-model="monthsToPay"
      class="form-select form-select-lg mb-3"
      aria-label=".form-select-lg example"
    >
      <option selected></option>
      <option value="1">6</option>
      <option value="2">12</option>
      <option value="3">18</option>
    </select>
    <br />

    <a href="/saveloan" class="btn btn-primary" ng-click="postdata1(register)"> Proceed</a>
  </div>
 <br />
 
</div>
  <!-- <div class="col-12">
    <a button class="btn btn-primary" type="submit">
  </div> -->
</form>
<!-- <button type="button" class="btn btn-link"><a href="#/home" class="alert-link">Enter</a>Enter</button> -->

